<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<div class="page-width page-width--narrow page-content">


  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Back to the frontpage">Home</a>

    

      <span class="breadcrumb__divider" aria-hidden="true">/</span>
      <span>Style Personality Descriptions</span>

    
  </nav>
  <br />
  <header class="section-header">
    <h1 class="section-header__title">Style Personality Descriptions</h1>
  </header>
  <div class="rte rte--nomargin">
    <blockquote>
    <p><span style="color: #000000;">Time to read about your score! Remember most people have a dominant style personality you can scroll down and find more on your Style Personality. </span></p>
    </blockquote>
    <div id="whai_feminine" hidden>
      <h1 style="text-align: left;" id="feminine">Mostly A's = The “<em>Feminine</em>” Style Personality</h1>
      <h1 style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/0847/4334/files/romantic_1_large.png?v=1561482630" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></h1>
      <p><i>“I have always believed that fashion was not only to make women more beautiful, but also to reassure them, give them confidence.” – Yves Saint Laurent </i></p>
      <p>Do you believe in the wonder and power of feminine charm? Of course, you do. From your first pink sweater to the subtlety of your light touch with makeup, you understand the allure of self-care. </p>
      <ul>
      <li>Your go-to wardrobe choices are dresses and skirts</li>
      <li>You often ask ‘does that come in a pastel?’</li>
      <li>Black is for shoes, not an entire outfit when it comes to dressing</li>
      <li>The softer and more luxurious the fabrics – think chiffon, silk, lace, velvet, angora and satin, the more in love you are</li>
      <li>Flowers are your spiritual home, whether in the garden or on your blouse</li>
      <li>You like simple jewelry: a string of pearls, a locket and small earrings</li>
      </ul>
      <p>How you shop:</p>
      <ul>
      <li>You are drawn to store windows and displays;</li>
      <li>Endless racks of clothing do nothing to spark your imagination;</li>
      <li>You may impulsively buy and item on display only to return it the next day;</li>
      <li>If you feel pressured to decide, you struggle</li>
      </ul>
      <blockquote>
      <p>Our Advice:</p>
      <p style="text-align: left;">Pick one or two style icons and embrace their magic. Femininity never goes out of style, but it can be subjected to fads and trends aimed at younger markets. By figuring out your icon, you can keep her in mind when choosing pieces, eliminating the need to choose from endless racks of clothes while always keeping current. </p>
      </blockquote>
      <h1></h1>
    </div>
    <div id="whai_sexy" hidden>
      <h1 style="text-align: center;" id="sexy"></h1>
      <h1>Mostly B's = The “<em>Sexy</em>” Style Personality</h1>
      <p><img src="//cdn.shopify.com/s/files/1/0847/4334/files/sexy_1_f0705e8e-0744-4db9-ba05-d21df76a21ae_large.png?v=1561482773" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
      <p><i>“Give a girl the right shoes and she can conquer the world.” – Marilyn Monroe</i></p>
      <p>If you have one thing on your bucket list, it’s to hit the red carpet in a dress that makes the world sit up and take notice. You are vivacious, fascinating and express your self-confidence and joie de vivre in everything you wear! You’re comfortable experimenting with new fads and trends, and are always looking for the most fun looks for less. If there’s a gym – or a gorgeous setting as a backdrop – you will be there.</p>
      <ul>
      <li>You prefer body conscious clothing;</li>
      <li>You love fabrics with stretch and move with you, like jersey and fine knits</li>
      <li>When it comes to fit you would rather go down a size then go up;</li>
      <li>You love vibrant colours;</li>
      <li>You wear dramatic floral and prints; </li>
      <li>If it was a thing to clean the house in sequins and stilettoes, you would do it.</li>
      <li>You are all about glitz and glam, sequence and attitude;</li>
      </ul>
      <p>How you shop:</p>
      <ul>
      <li>As glam as you are, you are practical and often find sparkly things on sale – you love a discount and sometimes keep the tag on to remind yourself of the great deal you got</li>
      <li>Is there such a thing as too much glamour? Not for you!</li>
      <li>You love to try on clothes and always come out of the dressing room to strut your stuff;</li>
      <li>There’s always room in your closet for a few ‘just in case’ outfits you still haven’t worn</li>
      </ul>
      <p> </p>
      <blockquote>
      <p> Our Advice:</p>
      <p style="text-align: left;"><span style="color: #000000;">We get it: Your mantra of “the sexier the better” often translates into a mountain of glittery, figure-hugging clothes in your closet. But your love of fads and trends means your collection can become a bit dated. Solution? Choose few but higher quality pieces that will still highlight your figure while standing the test of time. You can always update a look with smashing jewelry and shoes.</span></p>
      </blockquote>
      <p> </p>
    </div>
    <div id="whai_sporty" hidden>
      <h1 id="sporty">Mostly C's = The “<em>Sporty”</em> Style Personality</h1>
      <p><img src="//cdn.shopify.com/s/files/1/0847/4334/files/sporty_1_large.png?v=1561482816" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
      <p><i>“Comfort and simplicity are two keys that I follow when it comes to fashion.” – Fawad Khan</i></p>
      <p>Tennis anyone? You are a natural athlete with a definite wholesome, natural air about you that whispers rather than shouts your style. If anyone is looking for you, you’ll be in the athleisure wear department, comparing the relative merits of yoga pants and cute matching jackets.</p>
      <ul>
      <li>Comfort is the most important factor in your clothing choices;</li>
      <li>You would rather go up a size rather than feel restricted;</li>
      <li>You want your clothes to move with you;</li>
      <li>You prefer cotton, denim and knits;</li>
      <li>You like plaids, small checks and stripes;</li>
      <li>You are most comfortable in runners or flats;</li>
      <li>Special occasions can be a battle between what’s appropriate and what’s comfortable.</li>
      </ul>
      <p> </p>
      <p>How you shop:</p>
      <ul>
      <li>Shopping is not for you, unless you’re looking at running shoes and sports equipment.</li>
      <li>You tend to buy a new outfit every season out of necessity rather than fashion;</li>
      <li>You often shop with a friend when shopping for special occasion wear or dressy items.</li>
      </ul>
      <p> </p>
      <blockquote>
      <p>Our Advice:</p>
      <p style="text-align: left;">If wandering into a women’s fashion boutique makes you uneasy, asking a friend’s advice may seem like a great solution. But they have their style – and you have yours (you may not know what it is yet, but we can help!) An experienced stylist will understand how you want to dress and can help you find a “sporty” look that ticks all the boxes.</p>
      </blockquote>
      <p> </p>
    </div>
    <div id="whai_classic" hidden>
      <h1 id="classic">Mostly D's = The “<em>Classic</em>” Style Personality</h1>
      <p><img src="//cdn.shopify.com/s/files/1/0847/4334/files/class_1_large.png?v=1561482616" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
      <p><i>“Elegance is not about standing out, but being remembered.” – Giorgio Armani</i></p>
      <p>Everything in your world is under control – or at least it looks that way from your polished, put together appearance. You are organized, you like to analyze, and you don’t like to waste time. If you could channel Princess Grace, you would.</p>
      <ul>
      <li>You value quality over quantity;</li>
      <li>Perfect tailoring in suits, dresses and coats is a must;</li>
      <li>You opt for sleek and defined fit;</li>
      <li>You don’t get swept up in fashions trends;</li>
      <li>You prefer solid colors to prints;</li>
      <li>You like designer labels.</li>
      </ul>
      <p>Here’s how you shop:</p>
      <ul>
      <li>You are an organized shopper and like to buy the total look;</li>
      <li>You shop early each season and shop alone;</li>
      <li>Will peruse Style magazines for Style inspiration;</li>
      <li>Sale racks are too chaotic and you rarely shop them</li>
      </ul>
      <blockquote>
      <p style="text-align: left;"> Our Advice:</p>
      <p style="text-align: left;">We love that old attitude of ‘to thine own self be true’, but if you invest too much in what you know, you could hang on to your favourite pieces long past their wear-by date. A classic wardrobe should never be dated because ‘classic’ is constantly being redefined. Embrace new ideas and experiment with style.</p>
      </blockquote>
      <p> </p>
    </div>
    <div id="whai_artsy" hidden>
      <h1 id="artsy">Mostly E's = The “<em>Artsy</em>” Style Personality</h1>
      <p> </p>
      <p><i>“Create your own style…let it be unique for yourself and yet identifiable for others.” – Anna Wintour</i></p>
      <p>If there’s a drum beating to a different band, you’re at the head of the procession…and yet, because you are so often engrossed in ideas and projects, you have a tendency to run over time. The greatest gift you have is your strong sense of self: you are a unique individual and know how to express it in everything you wear.</p>
      <ul>
      <li>The first thing you consider when buying clothes is ‘does this suit me’ rather than ‘what does this cost?’;</li>
      <li>You prefer dark colors with strong accent colors;</li>
      <li>You prefer textured fabrics i.e. burnout velvet and tweed;</li>
      <li>You like boots and sandals;</li>
      <li>You live for unique accessories sourced on your world travels.</li>
      </ul>
      <p>Here’s how you shop:</p>
      <ul>
      <li>You are a compulsive shopper, always on the hunt!</li>
      <li>You pride yourself on your ability to create an outfit on a dime;</li>
      <li>You love consignment, thrift and vintage shops because they are filled with unique pieces and endless possibility.</li>
      </ul>
      <p> </p>
      <blockquote>
      <p>Our Advice:</p>
      <p style="text-align: left;">If you’re always just a feather boa away from turning an outfit into a costume, follow the look twice rule: Once you’re dressed, look quickly in the mirror and the first thing that pops out at you should probably be put back in the closet. You’re a creative dynamo: finding artistic ways to express yourself for the time and place is your next project!</p>
      </blockquote>
      <p> </p>
    </div>
    <div id="whai_dramatic" hidden>
      <h1 id="dramatic">Mostly F's = The “<em>Dramatic</em>” Style Personality</h1>
      <p><img src="//cdn.shopify.com/s/files/1/0847/4334/files/drama_1_large.png?v=1561482930" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
      <p><i>“What’s my style is not your style and I don’t see how you can define it. It’s something that expresses who you are in your own way. – Iris Apfel</i></p>
      <p>Oh, the drama! The theatrics! The confidence! You have it all going for you in every outfit you put together…because there’s always an entrance to be made, a first impression to nail. People want to know what you’ll wear, whether it’s to a Christmas party or a barbecue.</p>
      <ul>
      <li>You don’t just like fashion, you love clothes and appreciate their value in creating an individual look;</li>
      <li>You can pull off dramatic looks that other shy away from;</li>
      <li>You enjoy asymmetrical hemlines;</li>
      <li>You like your color and patterns big and bold;</li>
      <li>You’re not one to shy away from color and patterns that are big and bold;</li>
      <li>Your outfit is often planned around your statement accessories.</li>
      </ul>
      <p>Here’s how you shop:</p>
      <ul>
      <li>Whether it’s runway or street fashion, you’ve always got your eye on new and fun ideas to update your look</li>
      <li>You visit your favorite store every week. You don’t want to miss out!</li>
      <li>You hunt for unusual accessories and clothing.</li>
      </ul>
      <blockquote>
      <p>Our Advice:</p>
      <p style="text-align: left;">You already know what you know…so stretch your influences by seeking out fresh new ideas from fashion influencers and new labels. A talented stylist will also fill you in on the latest runway adaptations and trends. Check out local artists, too: they’re often ground zero for the hottest new ideas.</p>
      <p> </p>
      </blockquote>
      <p> </p>
    </div>
  </div>
</div>
<script>
  $(function () {
    if(decodeURI(window.location.href ).indexOf('#')!=-1){
      var new_url=decodeURI(window.location.href).split('#')[0]
      console.log(new_url);
      window.location.href=new_url;
    }
    var params = window.location.search
      .substr(1)
      .split("&")
      .reduce(function (q, query) {
        var chunks = query.split("=");
        var key = chunks[0];
        var value = chunks[1];
        return (q[key] = value), q;
      }, {});
    var tt=unescape(params["type"]);
    console.log(tt=='undefined');
    if(tt!='undefined'){
      var type = "#whai_"+tt;
      $(type).show();
    }else{
      console.log('inside else');
      const id_list=["#whai_feminine","#whai_sexy","#whai_sporty","#whai_classic","#whai_artsy","#whai_dramatic"];
      for(var d=0;d<id_list.length;d+=1){
        $(id_list[d]).show();
      }
    }

  });
</script>